<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<!-- Spring注解方式注入 -->
	<context:annotation-config />

	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<context:component-scan base-package="test" />

	<!-- 数据库配置文件 -->
	<bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:dbconfig.properties</value>
			</list>
		</property>
	</bean>



	<!-- 数据源 -->
	<bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driverClassName}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${userName}"></property>
		<property name="password" value="${pass}"></property>
	</bean>

	<!-- hibernate sessionFactory -->
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>test.Entity</value>
			</list>
		</property>
	</bean>

	<!-- 配置事务管理类 -->
	<bean id="myTran" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<!-- 通过注解方式配置事务 -->
	<tx:annotation-driven transaction-manager="myTran"/>

	<!-- Service层注入  注入userservice  -->
	<bean id="userservice" class="test.Service.ServiceImpl.UserServiceImpl">
		<property name="personDao" ref="persondao"></property>
	</bean>
	<!-- Dao层注入 -->
	<bean id="persondao" class="test.Dao.DaoImpl.PersonDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
</beans>